*{
  margin: 0;
  padding: 0;
}
.content{
  display: flex;
  flex-direction: row;
}


.navigation-bar{
  padding: 1rem;
  background-color: #D7E8D4;
  height: 100vh;
  width: calc(100vw/6);
}

.main-content{
  display: flex;
  flex-direction: column;
}

.header{
  padding: 1rem;
  background-color: yellowgreen;
  height: calc(100vh/5);
  width: calc(5*100vw/6)
}

.content-section{
    display: flex;
    flex-direction: row;

}

.article{
  padding: 1rem;
  width: calc(3*100%/4);
  background-color: white;
}

.aside{
  padding: 1rem;
  background-color: antiquewhite;
  width: calc(100%/4);
  height: 60vh;
}

.footer{
  padding: 1rem;
  background-color: yellowgreen;
  height:calc(100vh/5);
}
